@import "../../assets/styles/variables.scss";
@import "../../assets/styles/reset.scss";

.product{
    font-family: $font-roboto;
    display: flex;
    min-height: 100vh;
    background-color: #fefdf9;
    flex-direction: column;
    align-items: center;

    &__header{
        
        position: relative;
        max-height: 40vh;
        display: flex;
        justify-content: center;
        width: 100%;

        .back{
            cursor: pointer;
            position: absolute;
            
            height: calc(24px + 0.3vw);
            left: 15px;
            top: 20px;
        }
        .img{
            height: 50hv;
            width: 100%;
            object-fit: cover;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            
            
        }
    }
&__container{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
}

    &__body{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100vw;
        &__title{
            display: flex;
            justify-content: space-between;
            & h3{
               color: $dark-grey;
               font-size: calc(15px + 0.5vw);
            }
            spam{
                display: flex;
                align-items: center;
                color: $grey;
                font-size: calc(11px + 0.5vw);
            }
        }
        &__description{
            font-size: calc(13px + 0.6vw);
            color: $dark-grey;
            overflow: hidden;
        }
        &__additional{
            font-size: calc(13px + 0.6vw);
            color: $dark-grey;
            font-weight: 400;
        }
        &__ingredients{
            font-size: calc(13px + 0.6vw);
            display: flex;
            flex-direction: column;
            gap: 10px;
            &__ingredient{
                display: flex;
                gap: 10px;
                text-transform: capitalize;
            }
            
        }
    }
    &__footer{
        display: flex;
        align-self: end;
        // padding: 20px;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px 1rem 10px;
        &__counter{
            display: flex;
            justify-content: space-between;
            gap: 25px;
            background-color: #e0e0e0;
            border-radius: 10px;
            padding: 5px 20px;
            align-items: center;
            width: 30%;
            button {
                background-color: #e0e0e0;
                margin: 0 5px;
                color: #414141;
                border: none;
                text-align: center;
                font-weight: 500;
                width: fit-content;
            }
        }
        &__add{
            display: flex;
            width: 55%;
                background-color: $main-yellow;
                color: #414141;
                border: none;
                padding: 10px 30px;
                text-align: center;
                font-weight: 500;
                border-radius: 10px;
                justify-content: space-between;
                align-items: center;
        }
    }
}