@import "../../assets/styles/variables.scss";
@import "../../assets/styles/reset.scss";

.footerSearch {
    width: 100vw;
    height: 55px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: $light-grey;
    align-items: center;
    align-content: center;
    padding-left: 26px;
    padding-right: 26px;

    .searched
    {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        .point
        {
            margin-left: 9px;
            margin-top: 3.5px;
        }
        .pointUser, .pointHome
        {
            margin-left: 13px;
            margin-top: 3.5px;
        }


    }
}