@import "../../assets/styles/variables.scss";
@import "../../assets/styles/reset.scss";

.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: $light-grey;
    justify-content: space-between;
    width: 100%;
    background-size: cover;
    align-items: center;
    img{
        object-fit: contain;
        padding: 5px 15px;
        height: 30px;
    }
}